
  <nav class="navbar navbar-inverse bg-primary">
  <!-- Navbar content -->
  <h1 class="text-white" style="text-align:center;">4Zoro News</h1>
</nav>

<div class="mainSlider">
        <div id="owl-demo" class="owl-carousel owl-theme">

            <img src="comingsoon.png" alt="The Last of us">
            <img src="comingsoon.png" alt="The Last of us">
            <img src="comingsoon.png" alt="The Last of us">
        </div>
    </div>



   <div id="plantersCard">


        <div class=" owl-carousel owl-theme container  ">
            {{#each InterNationalArr}}
            <div class="item thumbnail">
                 {{#if this.urlToImage}}
                 <a href="3.html"><img src="{{this.urlToImage}}"></a>
                 {{else}}
                <a href="3.html"><img src="lookinggreat.png"></a>
                {{/if}}
                 {{#if this.author}}
                <h5 class="text-center text-primary">{{this.author}}</h5>
                {{else}}
                <h5 class="text-center text-primary">News</h5>

                {{/if}}
                 {{#if this.title}}
                <p class="text-center text-muted">{{this.title}}</p>
                {{else}}
                <p class="text-center text-muted">4zoro News</p>
                 {{/if}}
            </div>
            {{/each}}

        </div>
    </div>

    <div id="plantersSlider">
        <div class="row">

            <div class="leftBoxSlider col col-lg-3 col-md-12 col-sm-12">
                <h6 id="sentenceLeft" class="text-warning"> Title</h6>
                <button class="btn btn-danger">Pargraph</button>
            </div>

            <div class="col-lg-9 sliderInside col-md-12 col-sm-12">

                <div class=" owl-carousel owl-theme container  ">
            {{#each InterNationalArrTwo}}

                    <div class="item thumbnail">
                        {{#if this.publishedAt}}
                        <p class="text-center text-success"> {{this.publishedAt}}</p>
                        {{else}}
                        <p class="text-center text-success"> News</p>
                        {{/if}}
                        <a href="1.html"><img src="{{this.urlToImage}}"></a>
                        <h5 class="text-center text-danger">{{this.title}}</h5>
                    </div>
                    {{/each}}

                </div>
            </div>

        </div>
    </div>

 
    <div class="container" style="border:solid 1px silver; padding:15px; margin-top:20px; margin-bottom:20px;">
        <h2 class="text-center">Best 10 Stories for Kids</h2>
        {{#each posts}}
        <div style="border:solid 1px silver; padding:15px; margin-top:20px; margin-bottom:20px;">
        <h4 id="title" class="text-info text-center">{{this.title}}</h4>
        {{#if this.author}}
        <h6 id="author" class="text-success text-center">{{this.author}}</h6>
        {{else}}
        <h6 class="text-success text-center">author not found</h6>
        {{/if}}
        <div class="row">
          <div class="col-3 mx-auto">
        <img id="image" class="rounded" src="{{this.image}}"/>
           </div>
       </div>
          <p id="discription" class="text-center text-danger container">
            {{this.Description}}
          </p>
        </div>
        {{/each}}


       
      </div>
